.card {
  background-color: #fff;
  /* max-width: 300px; */
}

/* !important due to mantine override of components */
.parent {
  display: grid !important;
  padding: 0 !important;
  margin: 0 !important;
  align-items: center;
  text-align: center;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr 3fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  box-sizing: border-box;
}
  
  .div1 { grid-area: 1 / 1 / 2 / 2; }
  .div2 { grid-area: 2 / 1 / 3 / 2; }
  .div3 { grid-area: 3 / 1 / 4 / 2; }
  .div4 { grid-area: 4 / 1 / 8 / 2; }
  .div5 { grid-area: 1 / 2 / 8 / 3; }

.clean{
  padding: 0 !important;
  margin: 0 !important;
}

.paragraph{
  text-align: start;
  text-indent: 20px;
}

.delete-confirm {
  background-color: rgb(235, 235, 235);
  padding: 10px;
  border-radius: 10px;
  font-size: 1rem;
  position-anchor: --myAnchor;
  position: fixed;
  inset-block-start: anchor(end);
  inset-inline-end: anchor(self-end);
  margin: 5px 0 0 5px;
  max-width: 300px;
  z-index: 20;
}

.anchor {
  width: fit-content;
  anchor-name: --myAnchor;
}

.btn-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}